#oname {
  font-weight: 400;
  font-size: 34px;
  color: black;
}

#navTitle {
  font-weight: 400;
  font-size: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#introName {
  font-size: 6em;
  font-weight: 300;
}

#description {
  font-weight: 300;
}

#cover {
  position: relative;
  bottom: 0;
}

#bold-name {
  font-weight: 300;
  font-size: 28px;
}

p {
  font-weight: 200;
}

.sub-text {
  font-weight: 200;
  font-size: 16px;
}

.card-panel {
  cursor: pointer;
}

.heading {
  font-weight: 400;
  font-size: 16px;
}

.parallax-container {
  height: 200px;
}

@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 140%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%; /* or higher percentages. It's up to your taste */
  }
}