.introduction {
  margin-bottom: 30px;
}

#abstract-image {
  background: url('../images/black_white_pattern.jpg');
  height: 80px;
  width: 100%;
  background-size: 10%;
}

#cartoon-oran-wrapper {
  height: 402px;
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(45deg, #b3dced 0%, #29b8e5 70%, #29b8e5 70%, #29b8e5 81%, #bce0ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b3dced 0%,#29b8e5 70%,#29b8e5 70%,#29b8e5 81%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b3dced 0%,#29b8e5 70%,#29b8e5 70%,#29b8e5 81%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#cartoon-oran-wrapper img {
  position: absolute;
  width: 500px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
}

main {
  background-color: #2d3436;
}

#oname {
  font-weight: 400;
  font-size: 34px;
  color: black;
}

#navTitle {
  font-weight: 400;
  font-size: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  max-width: 4000px;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#introName {
  font-size: 6em;
  font-weight: 300;
}

#description {
  font-weight: 300;
}

#cover {
  position: relative;
  bottom: 0;
}

#bold-name {
  font-weight: 400;
  font-size: 28px;
}

p {
  font-weight: 200;
  color: white;
}

li {
  color: white;
}

a {
  color: #0860a8;
}

a:hover {
  text-decoration: underline;
}

.sub-text {
  font-weight: 300;
  font-size: 20px;
  color: #ef1346;
}

.card-panel {
  cursor: pointer;
}

.heading {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.parallax-container {
  height: 200px;
}

@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 140%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%; /* or higher percentages. It's up to your taste */
  }
}